<!DOCTYPE html>
<html ng-app="nightlifeApp">
  <head>
    <title="Night Life App"</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="/public/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="container-fluid" ng-controller="venuesController">
      <div class="hero-unit" id="banner">
        <h1>Heading</h1>
        <p>Tagline</p>
          <p>
            <a class="btn btn-primary btn-large">
              Learn more
            </a>
        </p>
      </div>
      <div class="row">
        <form ng-submit="searchYelp()" class="col-lg-12 form-group">
          <div class="input-group input-group-lg">

            <input ng-model="location.locale" class="form-control" placeholder="Enter zip code or location" type="text">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Search</button>
            </span>
          </form>
        </div>
      </div>
        <ul class="userRsvps">
        </ul>
        <div class="container-fluid searchResults">
          <div class="row row-flex">

              <div class="thumbnail bar col-sm-6 col-md-3" ng-repeat="venue in venues">

                <a ng-if="venue.image_url" href="{{venue.url}}" class="thumbnail" target="_blank">
                  <img src="{{venue.image_url}}">
                </a>
                <div class="venue-info">
                  <a class="venue-name" href="{{venue.url}}" target="_blank">{{venue.name}}</a>
                  <p class="venue-snippet">{{venue.snippet_text}}</p>
                  <p class="venue-going">{{ rsvps[venue.name + venue.location.city].length + ' going' }}</p>

                  <% if (locals.user) { %>
                    <a ng-click="createRSVP(venue.name + venue.location.city)">RSVP</a>
                  <% } else { %>
                    <a href="/auth/twitter">Sign in to RSVP</a>
                  <% } %>
                </div>
              </div>
            </div>
        </div>
      </div>
  </body>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
   <script type="text/javascript" src="/controllers/venuesController.client.js"></script>

</html>
<!-- /Users/johnclark/FreeCodeCamp/nightlifeapp/public/html/index.html -->
