html, body, div, a, p {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
}

body {
  text-align: center;
  background-image: url("../images/night-life.jpg");
  background-size: cover;
  font-family: 'Open Sans';
}

.row-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
}

.userRsvps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.liRsvp {
  margin: 3px 20px;
}

.searchResults {
}

.col-sm-6, .col-md-3 {
  margin-left: 15px;
  margin-right: 15px;
  width: calc( 25% - 30px );
}

.yelpForm {
  margin: 40px;
}

.hero-unit {
  color: white;
  padding: 40px;
}

.hero-unit h1 {
  font-size: 65px;
  text-shadow: 4px 3px black;
  margin-top: 25px;
}

.hero-unit p {
  font-size: 24px;
  text-shadow: 2px 2px black;

}
.venue-going {
  border: 2px solid green;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.venue-name {
  font-weight: bold;
  font-size: 22px;
}

.link {
  font-size: 24px;
  text-decoration: none;
}

.navLi {
  color: white;
}
